*{font-family: var(--font-font);}
:root{
--primary:#6366f1;
--dark-slate-gray: #3A4A42ff;
--ash-gray: #B6CFC2ff;
--hookers-green: #6D8278ff;
--black-olive: #24302Aff;
--emerald: #0AC768ff;
}

.secondary{
  background-color: var(--black-olive) !important;
}

._input{
font-size: 0.8rem !important;
}

._input:focus{
transition: 0.3s ease-in-out;
background-color: #F1F1F1 !important;
}

.login_page{
    background-image: url('/images/doctors.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;

}

.side{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    box-shadow: 0 3rem 5rem 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 5;
  }
  
  ._bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: calc(100% - 200px);
    /* box-shadow: 0 3rem 5rem 0 rgba(0, 0, 0, 0.1); */
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1;
    padding: 0 5%;
  }
  ._content{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    min-height: 100%;
    padding: 100px 5%;
    z-index: 3;
  }
 /* ._body::after{
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
opacity: 0.3;
  transform: translate(-50% , -50%);
  z-index: 1;
 }
 ._body::before{
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(100rem);
 } */

  .mini_skeleton{
    padding: 3px;
    border-radius: 1.5px;
  }